<html>
<head>
 <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
 var myMap;
  function myload(event){
 this.myMap = new ymaps.Map('myMap', { center: [55.76, 37.64], zoom: 10,behaviors: ['default', 'scrollZoom']});
 myMap.controls
				//.add(SearchControl)                
                .add('zoomControl')                
                .add('typeSelector')
                .add('ScaleLine')				;
  }
  			 
  function addEvent(evnt, elem, func) {
   if (elem.addEventListener)  // W3C DOM
      elem.addEventListener(evnt,func,false);
   else if (elem.attachEvent) { // IE DOM
      elem.attachEvent("on"+evnt, func);
   }
   else { // No much to do
      elem[evnt] = func;
   }
}


  addEvent('load',window,myload);
  
  
  
  
function myroute(coord){
  var routeLength=''; 
  ymaps.route(coord, { mapStateAutoApply: true} ).then(
   function (route) {
    this.routeLength = route.getLength(); 
    route.getPaths().options.set({
     balloonContentBodyLayout: ymaps.templateLayoutFactory.createClass('$[properties.humanJamsTime]'),
     strokeColor: '0000ffff',
     opacity: 0.9
    });
    myMap.geoObjects.add(route);
   },
   function (error) {  alert( error.message); });
}

  //window.addEventListener('load',myload, false);
</script>
</head>
<body>
  <!-- Область показа карты -->
  <div id="myMap" style="width:100%; height:100%"></div>
</body>
</html>