<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script charset="utf-8" src="https://clck.yandex.ru/jclck/dtype=stred/pid=443/cid=72717/path=2_0.1440.460/rnd=0.22662943066097796/*https://maps.yandex.ru/"></script>
    <title>Определение координат ДУ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="http://api-maps.yandex.ru/2.0/?load=package.full&amp;lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js" ></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<!--<link href="http://webmap-blog.ru/examples/add-users-ymapsapi2/css/bootstrap.min.css" rel="stylesheet">-->

    <style>
      html, body, #YMapsID {
        margin: 0;
        padding: 0;
        height: 100%;
      }
	  
	  #coord_form{
		position: absolute;
		z-index: 1000;
		background: none repeat scroll 0% 0% rgb(255, 255, 255);
		list-style: none outside none;
		padding: 10px;
		margin: 0px;
		right: 0px;
		bottom: 0px;
	  }
    

.ymaps-map{position:relative;display:block;overflow:hidden;margin:0!important;padding:0!important;border:0 none;color:#000;text-align:left!important;text-decoration:none!important;font-weight:400!important;font-style:normal!important;line-height:normal;-ms-touch-action:none;touch-action:none;-webkit-print-color-adjust:exact}
</style>

    <script type="text/javascript">
	
	var myMap, myPlacemark, coords,myCollection;
	var myGeocoder; 
	
	ymaps.ready(init);

        function init () {
coords = [55.757136,37.619899];
		//Определяем начальные параметры карты
            this.myMap = new ymaps.Map('YMapsID', {
                    center: coords, 
                    zoom: 17, 
					behaviors: ['default', 'scrollZoom']
                });	
			
			//Определяем элемент управления поиск по карте	
			var SearchControl = new ymaps.control.SearchControl({noPlacemark:true});	

			//Добавляем элементы управления на карту
			 myMap.controls
				//.add(SearchControl)                
                .add('zoomControl')                
                .add('typeSelector')                 
                .add('mapTools');
				
			
			
			//Определяем метку и добавляем ее на карту				
			myPlacemark = new ymaps.Placemark(coords,{}, {preset: "twirl#darkgreenDotIcon", draggable: true});	
			
			myMap.geoObjects.add(myPlacemark);			
	
			//Отслеживаем событие перемещения метки
			myPlacemark.events.add("dragend", function (e) {			
				coords = this.geometry.getCoordinates();
				savecoordinats();
			}, myPlacemark);

			//Отслеживаем событие щелчка по карте
			myMap.events.add('click', function (e) {        
				coords = e.get('coordPosition');
				savecoordinats();
			});	
	
			//Отслеживаем событие выбора результата поиска
			SearchControl.events.add("resultselect", function (e) {
				coords = SearchControl.getResultsArray()[0].geometry.getCoordinates();
				savecoordinats();
			});
			
			
			//Ослеживаем событие изменения области просмотра карты - масштаб и центр карты
			myMap.events.add('boundschange', function (event) {
			if (event.get('newZoom') != event.get('oldZoom')) {		
				savecoordinats();
			}
			
			if (event.get('newCenter') != event.get('oldCenter')) {		
				savecoordinats();
			}
			
			});
					
			myCollection = new ymaps.GeoObjectCollection({}, {
			   preset: 'twirl#redIcon', //все метки красные
			   draggable: true // и их можно перемещать
			}); 
	}
	
	
	//Функция для передачи полученных значений в форму
	function savecoordinats(){	
		var new_coords = [coords[0].toFixed(8), coords[1].toFixed(8)];	
		myPlacemark.getOverlay().getData().geometry.setCoordinates(new_coords);
		document.getElementById("latlongmet").value = new_coords;
		//document.getElementById("mapzoom").value = myMap.getZoom();
		/*var center = myMap.getCenter();
		var new_center = [center[0].toFixed(4), center[1].toFixed(4)];	
		document.getElementById("latlongcenter").value = new_center;	*/
	}
	
	
	
	
	function showAddress(value){
	  myGeocoder = ymaps.geocode(      // Строка с адресом, который нужно геокодировать
        value, {/* Опции поиска:*/
            boundedBy: myMap.getBounds()/* область поиска */
            ,strictBounds: false/* искать только в этой области*/
            ,results: 1/* требуемое количество результатов*/
        }
    );
	
/* После того, как поиск вернул результат, вызывается  callback-функция */
	myGeocoder.then(
    function (res) {
        if (res.geoObjects.getLength()) {
			//debugger;
			coords=res.geoObjects.get(0).geometry.getCoordinates();
			savecoordinats();
			myMap.panTo(coords);
        }
    }, /* Обработка ошибки*/function (error) {  alert("Возникла ошибка: " + error.message); });
	}
	

    </script>

</head>


</head>

<body> 

<div id="YMapsID"></div>
<div id="coord_form">
<p><label>Координаты: </label><input id="latlongmet" class="input-medium" name="icon_text" /><br/>
</div>

<form action="#" style="   top: 35px; position: absolute;" onsubmit="showAddress(this.address.value);return false;">
        <p>
            <input type="text" id="address" style="width:530px;  margin: 0; height: 16px;"   />
            <input type="submit" value="Поиск" />
        </p>
    
    </form>
  
</body>
</html>