<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="commonB1_config" type="commonB1.Config.commonB1_config, commonB1"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <commonB1_config>
    <StandartNames>
      <StandartName Name="паспорт_согл">_паспорт_согл</StandartName>
      <StandartName Name="паспорт_согл_НЕВЕРНЫЙ">_паспорт_согл_НЕВЕРНЫЙ</StandartName>
      <StandartName Name="паспорт_согл_ИЛИОН">_паспорт_согл_ИЛИОН</StandartName>
      <StandartName Name="макет_согл">_макет_согл</StandartName>
      <StandartName Name="паспорт">_паспорт</StandartName>
      <StandartName Name="паспорт_первый">_паспорт_первый</StandartName>
      <StandartName Name="макет">_макет</StandartName>
      <StandartName Name="паспорт_макет_согл">_паспорт_макет_согл</StandartName>
      <StandartName Name="паспорт_макет">_паспорт_макет</StandartName>
      <StandartName Name="карта">_карта</StandartName>
      <StandartName Name="карта_ЕГКО">_карта_ЕГКО</StandartName>
      <StandartName Name="фото_устранение_ИЛИОН">_фото_устранение_ИЛИОН</StandartName>
      <StandartName Name="фото_устранение_МАЦ">_фото_устранение_МАЦ</StandartName>
      <StandartName Name="фото_устранение">_фото_устранение</StandartName>
      <StandartName Name="фото_экспертов">_фото_экспертов</StandartName>
      <StandartName Name="фото_проверка_ДКР">_фото_проверка_ДКР</StandartName>
      <StandartName Name="элКО">_элКО</StandartName>
      <StandartName Name="панорама">_панорама</StandartName>
      <StandartName Name="акт_ВО">_акт_ВО</StandartName>
    </StandartNames>
    <Keywords>
      <Keyword Name="паспорт">паспорт</Keyword>
      <Keyword Name="макет">макет</Keyword>
      <Keyword Name="карта">карта</Keyword>
      <Keyword Name="панорама">панорама</Keyword>
      <Keyword Name="фото">фото</Keyword>
      <Keyword Name="карточка">карточка</Keyword>
      <Keyword Name="акт">акт</Keyword>
      <Keyword Name="МАЦ">МАЦ</Keyword>
      <Keyword Name="ИЛИОН">ИЛИОН</Keyword>
      <Keyword Name="экспертов">экспертов</Keyword>
      <Keyword Name="согл">согл</Keyword>
      <Keyword Name="первый">первый</Keyword>
      <Keyword Name="старый">старый</Keyword>
      <Keyword Name="новый">новый</Keyword>
      <Keyword Name="последний">последний</Keyword>
      <Keyword Name="верный">верный</Keyword>
      <Keyword Name="неверный">неверный</Keyword>
      <Keyword Name="ЕГКО">ЕГКО</Keyword>
      <Keyword Name="ВО">ВО</Keyword>
      <Keyword Name="устранение">устранение</Keyword>
      <Keyword Name="проверка">проверка</Keyword>
      <Keyword Name="элко">элко</Keyword>
      <Keyword Name="электронная">электронная</Keyword>
    </Keywords>
  </commonB1_config>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.15.9.0" newVersion="1.15.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" publicKeyToken="85089178b9ac3181" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
