<html>
<head>
    <title>poiskgu</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- <link href="http://webmap-blog.ru/examples/add-users-ymapsapi2/css/bootstrap.min.css" rel="stylesheet">*/ -->
 <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
     <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
      }
	  
	  #coord_form{
		position: absolute;
		z-index: 1000;
		background: none repeat scroll 0% 0% rgb(255, 255, 255);
		list-style: none outside none;
		padding: 10px;
		margin: 0px;
		right: 0px;
		bottom: 0px;
	  }
    

.ymaps-map{position:relative;display:block;overflow:hidden;margin:0!important;padding:0!important;border:0 none;color:#000;text-align:left!important;text-decoration:none!important;font-weight:400!important;font-style:normal!important;line-height:normal;-ms-touch-action:none;touch-action:none;-webkit-print-color-adjust:exact}
</style>
<script type="text/javascript">
 var myMap;
  function myload(event){
  this.myMap = new ymaps.Map('myMap', { center: [55.76, 37.64], zoom: 18,behaviors: ['default', 'scrollZoom']});
  myMap.controls
				//.add(SearchControl)                
                .add('zoomControl')                
                .add('typeSelector') ;
  
	//Определяем элемент управления поиск по карте	
			var SearchControl = new ymaps.control.SearchControl({noPlacemark:true});	

			coords = [55.757136,37.619899];
// фото нужно сделать с прозрачностью!!!



		
			//Определяем метку и добавляем ее на карту		
			myPlacemark = new ymaps.Placemark(coords,{}, {
			iconImageHref:'gu_new.png',// скорее всего проблема из-за того что адрес с локального жесткого диска
            iconImageSize: [50, 70], 
            iconImageOffset: [-25, -70]
            , draggable: true});	
			
			myMap.geoObjects.add(myPlacemark);			
	
			//Отслеживаем событие перемещения метки
			myPlacemark.events.add("dragend", function (e) {			
				coords = this.geometry.getCoordinates();
				savecoordinats();
			}, myPlacemark);

			//Отслеживаем событие щелчка по карте
			myMap.events.add('click', function (e) {        
				coords = e.get('coordPosition');
				savecoordinats();
			});	
	
			//Отслеживаем событие выбора результата поиска
			SearchControl.events.add("resultselect", function (e) {
				coords = SearchControl.getResultsArray()[0].geometry.getCoordinates();
				savecoordinats();
			});
			
			
			//Ослеживаем событие изменения области просмотра карты - масштаб и центр карты
			myMap.events.add('boundschange', function (event) {
			if (event.get('newZoom') != event.get('oldZoom')) {		
				savecoordinats();
			}
			
			if (event.get('newCenter') != event.get('oldCenter')) {		
				savecoordinats();
			}
			
			});
					
			myCollection = new ymaps.GeoObjectCollection({}, {
			   preset: 'twirl#redIcon', //все метки красные
			   draggable: true // и их можно перемещать
			}); 
  
  }
  			 
  function addEvent(evnt, elem, func) {
   if (elem.addEventListener)  // W3C DOM
      elem.addEventListener(evnt,func,false);
   else if (elem.attachEvent) { // IE DOM
      elem.attachEvent("on"+evnt, func);
   }
   else { // No much to do
      elem[evnt] = func;
   }
}

 function add_points(ptr){
 len=ptr.length;
  if(len && len>0){
  for(i=0;i<len;i++){
   add_point2(ptr[i]);
  }
 }
  }
 
 
 
 	//Функция для передачи полученных значений в форму
	function savecoordinats(){	
		var new_coords = [coords[0].toFixed(8), coords[1].toFixed(8)];	
		myPlacemark.getOverlay().getData().geometry.setCoordinates(new_coords);
		document.getElementById("latlongmet").value = new_coords;
		//document.getElementById("mapzoom").value = myMap.getZoom();
		/*var center = myMap.getCenter();
		var new_center = [center[0].toFixed(4), center[1].toFixed(4)];	
		document.getElementById("latlongcenter").value = new_center;	*/
	}

		function showAddress(value){
	  myGeocoder = ymaps.geocode(      // Строка с адресом, который нужно геокодировать
        value, {/* Опции поиска:*/
            boundedBy: myMap.getBounds()/* область поиска */
            ,strictBounds: false/* искать только в этой области*/
            ,results: 1/* требуемое количество результатов*/
        }
    );
	
/* После того, как поиск вернул результат, вызывается  callback-функция */
	myGeocoder.then(
    function (res) {
        if (res.geoObjects.getLength()) {
			//debugger;
			coords=res.geoObjects.get(0).geometry.getCoordinates();
			savecoordinats();
			myMap.panTo(coords);
        }
    }, /* Обработка ошибки*/function (error) {  alert("Возникла ошибка: " + error.message); });
	}
	

 function add_point2(ptr){
 myGeocoder = ymaps.geocode(ptr);
 myGeocoder.then(
 function (res) {
  var rr=res.geoObjects.get(0);
  rr.properties.set('description','');
  rr.properties.set('text',rr.properties.get('name'));
  rr.properties.set('balloonContentBody','<img style="width: 80%;" src="http://gbumac.ru/wp-content/themes/gbu-mac/img/logo.png"/><br> '+rr.properties.get('name'));
    myMap.geoObjects.add(rr);
  },  function (err) {
   alert('Ошибка');
  })  
 }


function myroute(coord){
  var routeLength=''; 
 ymaps.route(coord, { mapStateAutoApply: true} ).then(
   function (route) {
    this.routeLength = route.getLength(); 
    route.getPaths().options.set({
     balloonContentBodyLayout: ymaps.templateLayoutFactory.createClass('$[properties.humanJamsTime]'),
     strokeColor: '0000ffff',
     opacity: 0.9
    });
    myMap.geoObjects.add(route);
   },
   function (error) {  alert( error.message); });
}


/*
есть огромная вероятность что проблема в IE7


*/

function add_points_frompoint(ptr){
 len=ptr.length;
 if(len && len>0){
  for(i=0;i<len;i++){
   myMap.geoObjects.add( new ymaps.Placemark(ptr[i].ptr, {
      iconContent: i+1,
            balloonContent: ptr[i].txt
   }, {
    		iconImageHref:'gu.png',// скорее всего проблема из-за того что адрес с локального жесткого диска
            iconImageSize: [50, 70], 
            iconImageOffset: [-25, -70]
   }));
  }
 }
}

  $(document).ready(function() {
	addEvent('load',window,myload);
  });
  
  //window.addEventListener('load',myload, false);
</script>
</head>
<body>
  <!-- Область показа карты -->
  <div id="myMap" style="width:100%; height:100%"></div>

<div id="coord_form">
<p><label>Координаты: </label><input id="latlongmet" class="input-medium" name="icon_text" /><br/>
</div>

<form action="#" style="   top: 5px; position: absolute;" onsubmit="showAddress(this.address.value);return false;">
        <p>
            <input type="text" id="address" style="width:530px;     margin: 0; height: 25px;"   />
            <input type="submit" value="Поиск" />
        </p>
    
    </form>
  
  
  
</body>
</html>