<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="commonB1_config" type="commonB1.Config.commonB1_config, commonB1" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <commonB1_config>
    <StandartNames>
      <StandartName Name="паспорт_согл"></StandartName>
      <StandartName Name="паспорт_согл_НЕВЕРНЫЙ"></StandartName>
      <StandartName Name="паспорт_согл_ИЛИОН"></StandartName>
      <StandartName Name="макет_согл"></StandartName>
      <StandartName Name="паспорт"></StandartName>
      <StandartName Name="паспорт_первый"></StandartName>
      <StandartName Name="макет"></StandartName>
      <StandartName Name="паспорт_макет_согл"></StandartName>
      <StandartName Name="паспорт_макет"></StandartName>
      <StandartName Name="карта"></StandartName>
      <StandartName Name="карта_ЕГКО"></StandartName>
      <StandartName Name="фото_устранение_ИЛИОН"></StandartName>
      <StandartName Name="фото_устранение_МАЦ"></StandartName>
      <StandartName Name="фото_устранение"></StandartName>
      <StandartName Name="фото_экспертов"></StandartName>
      <StandartName Name="фото_проверка_ДКР"></StandartName>
      <StandartName Name="элКО"></StandartName>
      <StandartName Name="панорама"></StandartName>
      <StandartName Name="акт_ВО"></StandartName>
    </StandartNames>
    <Keywords>
      <Keyword Name="паспорт"></Keyword>
      <Keyword Name="макет"></Keyword>
      <Keyword Name="карта"></Keyword>
      <Keyword Name="панорама"></Keyword>
      <Keyword Name="фото"></Keyword>
      <Keyword Name="карточка"></Keyword>
      <Keyword Name="акт"></Keyword>
      <Keyword Name="МАЦ"></Keyword>
      <Keyword Name="ИЛИОН"></Keyword>
      <Keyword Name="экспертов"></Keyword>
      <Keyword Name="согл"></Keyword>
      <Keyword Name="первый"></Keyword>
      <Keyword Name="старый"></Keyword>
      <Keyword Name="новый"></Keyword>
      <Keyword Name="последний"></Keyword>
      <Keyword Name="верный"></Keyword>
      <Keyword Name="неверный"></Keyword>
      <Keyword Name="ЕГКО"></Keyword>
      <Keyword Name="ВО"></Keyword>
      <Keyword Name="устранение"></Keyword>
      <Keyword Name="проверка"></Keyword>
      <Keyword Name="элко"></Keyword>
      <Keyword Name="электронная"></Keyword>
    </Keywords>
  </commonB1_config>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Remotion.Linq" publicKeyToken="fee00910d6e5f53b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.15.9.0" newVersion="1.15.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Lucene.Net" publicKeyToken="85089178b9ac3181" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3.0" newVersion="3.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>